#mainbox {
    font: Roboto !important;
    position: fixed !important;
    background-color: white !important;
    width: 300px !important;
    max-height: 800px !important;
    z-index: 10000 !important;
    top: 25px !important;
    right: 50px !important;
}