body #mainbox .rate {
    font: Roboto !important;
    position: fixed !important;
    background-color: white !important;
    width: 350px !important;
    z-index: 10000 !important;
    top: 100px !important;
    right: 50px !important;
}